{% extends "base.html" %}{%block content%}<div class="main">
{%with messages=get_flashed_messages()%}
		{%if messages%}
			{%for msg in messages%}
			<p>{{msg}}</p>
			{%endfor%}
		{%endif%}
	{%endwith%}
	
	<h2>Already in Charges Cart</h2>
	<table>
		<tr>
			<th>Charge Transaction ID</th>
			<th>Type of Charge</th>
			<th>Description</th>
			<th>Amount</th>
			
			<th>Remove Transaction</th>
		</tr>
		{%for row in data%}
			<tr>
				{%for item in row%}
					<td>{{item}}</td>
				{%endfor%}
				<td><a href="/remove_from_charges_cart/{{row[0]}}">Remove Charge</a></td><td></td>
			</tr>
		{%endfor%}
		
	
	
	<form action="/add_to_charges_cart_return/{{job_id}}" method="POST">
	<tr><td>#</td><td>
	<select id="type" name="type">
		{%for item in types%}
			<option value="{{item[0]}}">{{item[1]}}</option>
		{%endfor%}
	</select></td>
	
	<td><textarea name="description" id="description" rows="5" cols="30"></textarea></td>
	
	<td>
	<input type="number" step="0.01" id="amount" name="amount" required></td>
	<td><input type="submit" value="Add To Cart"></td></tr>
	</form>
	<tr><td><h3>Total Labour Charge</h3></td><td></td><td></td><td><h3>{{total}}</h3></td><td></td></tr>
	</table>

</div>{%endblock%}