{% extends "base.html" %}
{% block content %}
	<div class="main">
	<table>
	<tr><th colspan="4" style="text-align:center">Existing Job Roles</th></tr>
	<tr><th>ID</th><th>Job Role</th><th>Descriptions</th><th>Edit</th>
		{%for row in existing_job_roles%}
		<tr>
		<td>{{row[0]}}</td>
		<td>{{row[1]}}</td>
		<td><ul>
		{%for item in row[2]%}
		<li>{{item}}</li>
		{%endfor%}
		</ul>
		</td>
		<td><a href='/edit_job_role/{{row[0]}}'>Edit Job Role</a></td>
		</tr>
		{%endfor%}
	</table>
	<table>
	<tr><th colspan="4" style="text-align:center">New Job Role</th></tr>
	<tr><th>Select</th><th>Function Group</th><th>Accessible Functions</th><th>Descriptions</th>
	<form action="/add_job_role_return" method="POST">
		{%for item in function_groups%}
		<tr><td><input type="checkbox" id="function_groups" name="function_groups" value="{{item[0]}}"></td>
		<td>{{item[1]}}</td>
		<td>{{item[2]}}</td>
		<td>{{item[3]}}</td></tr>
		{%endfor%}
		<tr><td colspan="2" ><label for="new_job_role">New Job Role:</label></td>
		<td><input type="text" id="new_job_role" name="new_job_role" required></td>
		<td colspan="2" style="text-align:center"><input type="submit" value="Submit"></td></tr>
	</form>
	</table>
	</div>
	{%endblock%}