{% extends "base.html" %}{%block content%}<div class="main">
{%with messages=get_flashed_messages()%}
		{%if messages%}
			{%for msg in messages%}
			<p>{{msg}}</p>
			{%endfor%}
		{%endif%}
	{%endwith%}
	<table>
		<tr>
			{%for heading in headings%}
				<th>{{heading}}</th>
			{%endfor%}
					</tr>
		{%for row in data%}
			<tr>
				{%for val in row%}
					<td>{{val}}</td>
				{%endfor%}
				
				</tr>
		{%endfor%}
	</table>
	<table>
		<form action="/add_function_group_return" method="POST">
		<tr><th>Select</th>
		<th>Function</th></tr>
		{%for fn in functions_list%}
		<tr><td style="width:1%;text-align:center;"><input type="checkbox" name="functions" value="{{fn}}"></td><td>{{fn}}</td></tr>
		{%endfor%}
		<tr><th colspan="2" style="text-align:center"></th></tr>
		<tr><th>Name</th><th>Description</th></tr>
		<tr><td><input type="text" name="function_group_name"></td>
		<td><input type="text" name="description"></td></tr>
		<tr><td colspan="2" style="text-align:center"><input type="submit" value="Add Function Gruop"></td></tr>
	</table>
</div>{%endblock%}