{% extends "base.html" %}{%block content%}<div class="main">
	<table style="width:40%;">
	<tr><th>Existing Manufacturers:</th></tr>
		{%for item in existing_manufacturers_list%}
		<tr><td>{{item}}</td></tr>
		{%endfor%}
		</table>
	<form action="/add_manufacturer_return" method="POST">
		<label for="new_manufacturer">New Manufacturer:</label><br>
		<input type="text" id="new_manufacturer" name="new_manufacturer" required><br>
		<input type="submit" value="Submit">
	</form>
</div>{%endblock%}