{% extends "base.html" %}{%block content%}<div class="main">
{%with messages=get_flashed_messages()%}
		{%if messages%}
			{%for msg in messages%}
			<p>{{msg}}</p>
			{%endfor%}
		{%endif%}
	{%endwith%}
	<table>
		<tr>
			{%for heading in headings%}
				<th>{{heading}}</th>
			{%endfor%}
			<th colspan="2" style="text-align:center">Options</th>
		</tr>
		{%for row in data%}
			<tr onclick="window.location='/show_job/{{row[0]}}';">
				{%for val in row%}
					<td>{{val}}</td>
				{%endfor%}
				
				<td><a href="/unfinish_work/{{row[0]}}">Unfinish Work</a></td>
				<td><a href="/generate_invoice/{{row[0]}}/generate">Generate Invoice</a></td>
				
			</tr>
		{%endfor%}
	</tsble>
</div>{%endblock%}