

<div class="sidenav">
	<a href='/add_category'>Add Catetogry</a>
	<a href='/add_clubbable_category'>Add Clubbable Catetogories</a>
	<a href='/add_manufacturer'>Add Manufacturer</a>
	<a href='/add_vendor'>Add Vendor</a>
	<a href='/add_product'>Add Product</a>
	<a href='/add_employee'>Add Employee</a>
	<a href='/add_job_role'>Add Job Role</a>
	<a href='/add_function_group'>Add Function Group</a>
	<a href='/add_type_of_labour_charge'>Add Type of Labour Charge</a>
	<a href='/show_function_groups'>Show Function Groups</a>
</div>

 
