<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='resources/stylesheet.css')}}">
</head>
<body>

<div class="sidenav">
	<a href='/add_job_card'>New Job</a>
	<a href='/add_purchase'>Record Purchase</a>
	<a href='/show_jobs'>Show Jobs</a>
	<a href='/show_consumption_store'>Show Consumption from store</a>
	<a href='/show_unfulfilled_out_requests'>Show unfulfilled outside Part Requests </a>
	<a href='/show_finished_jobs'>Show Finished Jobs</a>
	<a href='/show_unassigned_jobs'>Show Unassigned Jobs</a>
	<a href='/show_assigned_jobs'>Show Assigned Jobs</a>
	<a href='/show_current_stock'>Show Current Stock</a>
	<a href='/show_purchase_data'>Show Purchase Data</a>
	<a href='/remove_spoils'>Remove Spoils from Stock</a>
	<a href='/show_spoils'>Show Spoils Data</a>
</div>

<div class="main">
</div>
   
</body>
</html> 
